appnope==0.1.2
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
augmentation==0.7
backcall==0.2.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.11.1
bleach==3.3.0
bs4==0.0.1
cachetools==5.2.0
certifi==2022.12.7
cffi==1.14.5
charset-normalizer==2.1.1
click==7.1.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.3
doc-loader==0.1.3
entrypoints==0.3
filelock==3.3.2
flake8==6.0.0
graphviz==0.16
idna==3.4
intervaltree==3.1.0
ipykernel==5.5.3
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lxml==4.9.1
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.7.0
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.8.8
nltk==3.5
notebook==6.3.0
numpy==1.20.1
packaging==20.9
pandas==1.2.2
pandocfilters==1.4.3
parso==0.8.1
pdf2image==1.16.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
platformdirs==2.4.0
prettytable==3.4.1
prometheus-client==0.9.0
prompt-toolkit==3.0.16
ptyprocess==0.7.0
pycodestyle==2.10.0
pycparser==2.20
pydotplus==2.0.2
pyflakes==3.0.1
Pygments==2.8.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
regex==2020.11.13
reppy==0.4.14
requests==2.28.1
scikit-learn==0.24.1
scipy==1.6.1
Send2Trash==1.5.0
shell==1.0.1
six==1.15.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
Spidy==0.2
spidy-web-crawler==1.6.5
tag==0.5
terminado==0.9.4
testpath==0.4.4
threadpoolctl==2.1.0
torch==1.8.1
torchvision==0.9.1
tornado==6.1
tqdm==4.57.0
traitlets==5.0.5
urllib3==1.26.13
virtualenv==20.10.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
